body .reveal h1 {
  font-family: 'Kreon', serif;
  font-weight: bold;
  color: #000;
}

body .reveal h1 {
  font-size: 2em; 
  font-weight: bold;
}

body .reveal h2 {
  font-family: 'Kreon', serif;
  font-size: 1.11em;
  font-weight: bold; 
  color: #000;
}

body .reveal h3 {
  font-family: 'Kreon', serif;
  font-weight: bold; 
  font-size: 1em;
  color: #000; 
}

body .reveal h4 {
  font-family: 'Kreon', serif;  
  font-weight: bold; 
  font-size: 0.9em;
  color: #000; 
}

body .reveal {
  border-top: 15px solid #b41f30;
  font-family: 'Yanone Kaffeesatz';
}

body .reveal .slides {
  background: #fff;
  border: 5px dashed #999;
  box-shadow: 10px 3px 40px #aaa;
  color: #000;
}

body .reveal a {
 text-decoration: underline; 
}

body .reveal table {
  font-size: 0.6em;
}

body .reveal img {
  border: none;
  background: transparent;
  box-shadow: none;
}

body .reveal ul {
  line-height: 1.5;
}

body .reveal pre code {
  background: #F5F5F5;
  color: #1d2a3a;  
}

body .reveal li>code, body .reveal p>code {
  font-size: 0.7em;
  font-weight: bold;
  background: #fff;
}